@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Noto+Sans+Tamil:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans', 'Noto Sans Tamil', sans-serif;
}

@import "tailwindcss";

@custom-variant dark (&&:where(.dark, .dark *));